*{
     margin: 0;
     padding: 0;
}
body{

background-color: rgb(212, 199, 199);

}

.cabecalho{
      background-color: aquamarine;
     display: flex;
    justify-content: space-between;
}

      

